@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');


body{
    /* background: linear-gradient(to right,	#7DF9FF, white ); */

    background:#0b1d35;
    background-image: url("../LOGOS/makinenenene.jpg"); 
    background-size:cover; 
    background-position: center;

   

}


main{

    margin-top:10vh;
    margin-bottom:10vh;

}


#aboutUsGrid{

    display:grid;
    justify-content: center;
    align-items: center;
    width:100%;
    grid-template-columns: repeat(2, 70vh);
    grid-template-rows: repeat(3, 30vh);
    grid-row-gap: 4vh;

}


#aboutUsGrid>li>img{

    width:40vh;
   
}

#aboutUsGrid>li{

    color:white;
    font-size:0.75em;
    font-family: 'Oswald', sans-serif;
    
}
.bigImg{

    grid-row:2/4;

    justify-self: center;
}

.logox{

    justify-self: center;
}



@media only screen and (max-width: 768px){

    #aboutUsGrid{

        grid-template-columns: 40%;
        grid-template-rows: repeat(5,25vh);
        height:145vh;
        
    }




}