*{
    font-family: 'Oswald', sans-serif;
}


.mainPhotos{




    margin-top:5vh;
    color:white;
    font-size:2em;
    display:grid;
    justify-items: center;
    align-items: center;
    grid-template-rows: 100vh;

}

.mainPhotos>div>img{

    width:100%;
    position:relative;
    height:100vh;
    z-index: -10;
}


#mainExpl{

    margin-top:30vh;
    font-size:1.5em;
    width:50%;
    text-align: center;
    grid-column:1;
    grid-row:1;
  
}

.shade{
    display:flex;
    justify-content: center;
    width:95%;
    height:100vh;
    background-color:black;
    background-color: rgba(0, 0, 0, 0.59);
    grid-column:1;
    grid-row:1;

}


#titlee{

    font-family: 'Oswald', sans-serif;
    font-size:2.5em;
    grid-column:1;
    grid-row:1;
    margin-bottom:60vh;
}


.secExpl{

    margin-top:10vh;
    display:grid;
    justify-content: center;
    color:white;
    font-size:1.5em;
    grid-row-gap:1.5vh;
    margin-bottom:15vh;
    
}

.secExpl>h1{

    font-size:4em;
    text-align: center;
}

.secExpl>div>i{
    margin-right: 2vh;
    font-size:2em;
    color:#00a9f4;
    
}


#projectsBut{
    width:17vh;
    height:5vh;
    margin-top:6vh;
    background:#00a9f4;
    border-radius:15px;
    border-width: 0px;
    font-size:1.1em;
    transition: 0.5s;
    text-decoration: none;
    color:white;
}


#projectsBut:hover{

    width:19vh;
    background-color:#42c6dd;
    transition: 0.5s;
}

#dirProject{

    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom:10vh;
}


.miniExp{

    color:white;
    font-size:2em;
}


@media only screen and (max-width: 768px){

    .mainPhotos{

        font-size:1.2em;
    }

    #titlee{

        font-size:2em;
    }

    .secExpl{

        font-size:0.9em;
    }
}