@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');



*{
    margin:0px;
    padding:0px;
    
}

body{
    /* background: linear-gradient(to right,	#7DF9FF, white ); */
    background:white;
   

}

li{
    list-style: none;
    
}

nav{

    height:10vh;
    background:#49658a;

  
    


}

nav>ul{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-self: center;
    height:100%;
    
    


}

nav>ul>li{

   
    width:100%;
    height:100%;
  

 
}

nav>ul>li>a{
    
    font-size:1.2em;
    color:White;
    text-decoration: none;
    width:100%;
    height:100%;
    display:flex;
    justify-content: center;
    background:#49658a;
    align-items: center;
    transition:0.5s;
}

nav>ul>li>a:hover{

    background-color:white;
    color:black;
    transition:0.5s;
  
}

nav>ul>#contact>a:hover{

    background:green;
}
#contact>a{
    font-weight: bold;
    color: #00ff55;
    
}



.logo>a>img{

    width:14vh;
}

#sliderView{
    margin-top:50px;
    width:100%;
    display:flex;
    justify-content: center;
}

#view{
    width:100%;
}

.section{
    display:flex;
    justify-content: center;
    align-items: center;
}

.intro{

    margin-top:75px;

}
#whyAlu{

    font-family: 'Oswald', sans-serif;
    font-size:2.5em;
}


.projectsGrid{

    margin-top:75px;
    height:725px;
}

.projectsGrid>ul{

    display:grid;
    grid-template-rows: repeat(3, 42vh);
    grid-template-columns: repeat(3,42vh);
    grid-row-gap:50px;
    grid-column-gap:50px;
    justify-content: center;
    align-items:center;
}

.projectsGrid>ul>li{
    padding: 0px;
    transition:0.5s;
    display:flex;
    align-items: center;
    justify-content: center;

    width:42vh;
    height: 42vh;
  
    background-size: cover;
}


.projectsGrid>ul>li>a{
    transition: 0.5s;
    color:rgba(0, 0, 0, 0);   

    width:100%;
    height: 100%;

    align-items: center;
    justify-content: center;
    display:flex;
    
    font-size:1.5em;
    font-weight: bold;
    font-family: 'Oswald', sans-serif; 
    text-decoration: none;
    text-align: center;
   
}


.projectsGrid>ul>li>a:hover{
    display:flex;
    transition:0.5s;
    background-color: rgba(0, 0, 0, 0.5);
    color: rgba(255, 255, 255, 255);
    
 
   
    


}
.projectsGrid>ul>li:hover{
    transition:0.5s;
    width:45vh;
   
    
}

.projectsGrid>ul>li:nth-child(1){
background-image:url('/projectimages/outDoor2.jpeg');
background-size: cover;

}

.projectsGrid>ul>li:nth-child(2){
    background-image:url('/projectimages/lift&slide1.jpg');
    background-size: cover;
}

.projectsGrid>ul>li:nth-child(3){
    background-image:url('/projectimages/office2.jpeg');
    background-size: cover;
}


.projectsGrid>ul>li:nth-child(4){
    background-image:url('/projectimages/homeDoor2.jpeg');
    background-size: cover;
}

.projectsGrid>ul>li:nth-child(5){
    background-image:url('/projectimages/roofThing.jpeg');
    background-size: cover;
}

.projectsGrid>ul>li:nth-child(6){
    background-image:url('/projectimages/wetDoor3.jpeg');
    background-size: cover;
}


.priceContact{

    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column  ;
    text-align: center;
    margin-top:45vh;
}


.expl{

    font-weight: bold;
    font-family: 'Oswald', sans-serif;

}

.priceContact>hr{
    width:900px;
    height:3px;
    background:black;
}

.priceContact>button{
    transition: 0.5s;
    margin-top:75px;
    background:#63b090;
    border:none;
    width:100px;
    height:40px;
    border-radius:20px;
    
}

.priceContact>button:hover{
    transition: 0.5s;
    background:#3c6956;
}
.priceContact>button>a{

    text-decoration: none;
    font-size:1.5em;
    color:white;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;

}


.title{

    color:#3c6956;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
    font-size: 5em;
    display:flex;
    justify-content: center;
    
}



.galleryGrid{

    display:grid;
    
    justify-content: center;
    align-items: center;
    grid-template-columns: 45vh 60vh 45vh;
    grid-column-gap: 5vh;
}

.galleryGrid>ul{
    display:grid; 
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(2, 22vh);
    grid-column-gap: 3vh;
    grid-row-gap:2vh;

}

.galleryGrid>ul>li{

    display:flex;
    justify-content: center;
}
.galleryGrid>ul>li>img{

    width:22vh;

}

.galleryGrid>ul>li:nth-child(1){

    grid-column:1/-1;
    text-align: center;
    

}


.pageButtons{

    display:flex;
    justify-content: space-around;
    margin-top:50px;
    align-items:center;

}


.pageButtons>button{

    background:#49658a;
    color:white;
    border:0px;
    width:50px;
    height:40px;
    border-radius:25px;
    transition:0.5s;

}

.pageButtons>button:hover{

    background:#3570bd;
 
    transition:0.5s;

}


.leftDir{
    transition:1s;
    transform: translateX(57.5vh);
    
  
 
}

.rightDir{

    transition:1s;
    transform: translateX(57.5vh);
 
  
   

}

.leftSection{

    transition:0.5s;
    grid-column:1;
    
}


.rightSection{

    transition:0.5s;
    grid-column:3;
    
}